In [12]:
from datetime import datetime
import pandas as pd

calendar_start = '2024-01-01'
calendar_end = '2028-12-31'

calendar_range = pd.date_range(calendar_start, calendar_end)

df_calendar = pd.DataFrame(calendar_range, columns=['Date'])
# df_calendar['Year', 'Month', 'Day'] = df_calendar['Date'].str.split('-', expand=True)
# df[['gyumolcs', 'szin']] = df['oszlop'].str.split('-', expand=True)

df_calendar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1827 entries, 0 to 1826
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1827 non-null   datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 14.4 KB

In [13]:

df_calendar["year"] = df_calendar["Date"].dt.year 
df_calendar["month"] = df_calendar["Date"].dt.month
df_calendar["day"] = df_calendar["Date"].dt.day
df_calendar["day_of_week"] = df_calendar["Date"].dt.dayofweek + 1 
df_calendar["is_weekend"] = df_calendar["day_of_week"].isin([6,7])

df_calendar

           Date  year  month  day  day_of_week  is_weekend
0    2024-01-01  2024      1    1            1       False
1    2024-01-02  2024      1    2            2       False
2    2024-01-03  2024      1    3            3       False
3    2024-01-04  2024      1    4            4       False
4    2024-01-05  2024      1    5            5       False
...         ...   ...    ...  ...          ...         ...
1822 2028-12-27  2028     12   27            3       False
1823 2028-12-28  2028     12   28            4       False
1824 2028-12-29  2028     12   29            5       False
1825 2028-12-30  2028     12   30            6        True
1826 2028-12-31  2028     12   31            7        True

[1827 rows x 6 columns]