In [76]:
import os
import pandas as pd
import pandasql as ps
from my_s3_func import *
from func.df_fix_str_cols_to_dtime_and_conv import *

In [77]:
# my s3 global variables
s_mybucket = "jozsi-chicago-taxi-bb"
pathdir_proc_taxi = 'raw_data/to_process/taxi_data/'
pathdir_processed_taxi = 'raw_data/processed/taxi_data/'
pathdir_transf_taxi = 'transfomed_data/taxi_data/'
pathdir_proc_wheater = 'raw_data/to_process/weather_data/'
pathdir_processed_wheater = 'raw_data/processed/weather_data/'
pathdir_transf_wheater = 'transfomed_data/weather_data/'
pathdir_pay_type_master = 'transfomed_data/payment_type/'
pathdir_company_master = 'transfomed_data/company/'
pathdir_prev_masters = 'transfomed_data/master_table_previous_version/'
pathdir_areas =  'transfomed_data/community_areas/'
pathdir_date = 'transfomed_data/date/'

s_pay_types = 'payment_types.csv'
s_companies = 'companies.csv'
s_taxi_data = 'taxi_data.csv'
s_wheater_data = 'wheater_data.csv'
s_areas = 'community_areas.csv'
s_date = 'date.csv'

s_aws_id = os.getenv('AWS_ACCESS_ID')
s_aws_key = os.getenv('AWS_SEC_KEY')

### get data from s3

In [78]:
# single files
# def object list
ls_path_file = [
    [pathdir_areas,s_areas],
    [pathdir_company_master, s_companies],
    [pathdir_date, s_date],
    [pathdir_pay_type_master, s_pay_types],
    ]

# get files from s3, a load to dynamic generate global dataframe variables
for s_path, s_file in ls_path_file:
    globals()['df_'+s_file.replace('.csv', '')] = load_s3_csv_to_df(s_bucket=s_mybucket, path_file=s_path+s_file, s_access_id=s_aws_id, s_sec_key=s_aws_key )
    print(f'{s_file} has been loaded to df_{s_file.replace('.csv', '')}')

community_areas.csv has been loaded to df_community_areas
companies.csv has been loaded to df_companies
date.csv has been loaded to df_date
payment_types.csv has been loaded to df_payment_types

In [79]:
# load & concat all taxi_data
df_taxi_data_concat = load_s3_dir_csv_files(
    s_bucket=s_mybucket, 
    path_work=pathdir_transf_taxi,  
    s_access_id=s_aws_id, 
    s_sec_key=s_aws_key
    )

taxi_data_2024-10-18.csv has loaded and added
taxi_data_2024-10-19.csv has loaded and added
taxi_data_2024-10-20.csv has loaded and added
taxi_data_2024-10-21.csv has loaded and added
taxi_data_2024-10-22.csv has loaded and added
taxi_data_2024-10-23.csv has loaded and added
taxi_data_2024-10-24.csv has loaded and added
taxi_data_2024-10-25.csv has loaded and added
taxi_data_2024-10-26.csv has loaded and added

In [80]:
# load & concat all wheater_data
df_wheather_data_concat = load_s3_dir_csv_files(
    s_bucket=s_mybucket, 
    path_work=pathdir_transf_wheater,  
    s_access_id=s_aws_id, 
    s_sec_key=s_aws_key
    )

wheater_data_2024-10-18.csv has loaded and added
wheater_data_2024-10-19.csv has loaded and added
wheater_data_2024-10-20.csv has loaded and added
wheater_data_2024-10-21.csv has loaded and added
wheater_data_2024-10-22.csv has loaded and added
wheater_data_2024-10-23.csv has loaded and added
wheater_data_2024-10-24.csv has loaded and added
wheater_data_2024-10-25.csv has loaded and added
wheater_data_2024-10-26.csv has loaded and added

### enrichments

In [81]:
# I always use a left join for this step to avoid losing data from the main table due to a join error
df_taxi_data_full = pd.merge(df_taxi_data_concat, df_community_areas, left_on='pickup_community_area_id', right_on='area code', how='left')
df_taxi_data_full.rename(columns={'community name': 'pickup_area_name'}, inplace=True)
df_taxi_data_full = pd.merge(df_taxi_data_full, df_community_areas, left_on='dropoff_community_area_id', right_on='area code', how='left')
df_taxi_data_full.rename(columns={'community name': 'dropof_area_name'}, inplace=True)
df_taxi_data_full = pd.merge(df_taxi_data_full, df_payment_types, on='payment_type_id', how='left')
df_taxi_data_full = pd.merge(df_taxi_data_full, df_companies, on='company_id', how='left')
df_taxi_data_full = pd.merge(df_taxi_data_full, df_wheather_data_concat, left_on='datetime_for_weather', right_on='datetime', how='left')

In [82]:
# preparation and join df_date
# fix values (if possible) and convert cols type to datatime
s_columns = ['trip_start_timestamp', 'trip_end_timestamp']
df_fix_str_cols_to_dtime_and_conv(df_taxi_data_full, s_columns)
# make a new "date" col for join
df_taxi_data_full['trip_start_date'] = df_taxi_data_full['trip_start_timestamp'].dt.date.astype(str)
df_taxi_data_full = pd.merge(df_taxi_data_full, df_date, left_on='trip_start_date', right_on='Date', how='left')

In [83]:
# dropping unnecessary columns
df_taxi_data_full = df_taxi_data_full.drop(columns=['area code_x','area code_y', 'datetime', 'Date'], errors='ignore')

In [84]:
''' 
1. Which 10 companies make the most money?
Use two columns: Company name and the sum of the fare. Order by descending order.
Make sure that the sum of the fares (total_fare) is not in scientific notation.
'''

pd.options.display.float_format = lambda x: '{:,.0f}'.format(x).replace(',', ' ')

query = '''
SELECT 
	company, 
    ROUND(SUM(trip_total),0) AS trips_total_usd
FROM df_taxi_data_full
GROUP BY company_id
ORDER BY trips_total_usd DESC
LIMIT 10
'''
df_res = ps.sqldf(query, locals())
df_res

                        company  trips_total_usd
0                     Flash Cab          820 834
1     Taxi Affiliation Services          718 780
2  Taxicab Insurance Agency Llc          559 505
3                      Sun Taxi          528 869
4                  City Service          422 663
5          Chicago Independents          269 702
6                   5 Star Taxi          226 178
7  Blue Ribbon Taxi Association          164 314
8                    Globe Taxi          146 121
9              Medallion Leasin          118 009

In [85]:
'''
2. Show the 10 pickup community areas with the most rides.
Use two columns: community area name and count of rides per area, in descending order for
the rides.
'''

query = '''
SELECT 
    pickup_area_name,
    COUNT(*) AS rides_count
FROM df_taxi_data_full
GROUP BY pickup_community_area_id
ORDER BY rides_count DESC
LIMIT 10
'''
df_res = ps.sqldf(query, locals())
df_res

  pickup_area_name  rides_count
0  Near North Side        38303
1           O'Hare        29859
2             Loop        28750
3   Near West Side        14907
4  Near South Side         9553
5   Garfield Ridge         5195
6        Lake View         4648
7     Lincoln Park         3478
8           Uptown         2378
9        Edgewater         1816

In [86]:
'''
3. Get the count of taxi rides per day of week. In other words, we'd like to see which day has
the most rides.
Use the names of the days instead of numbers (Monday = 1, Tuesday = 2, etc.).
HINT: Check CASE WHEN statements for replacing names of days. For ordering the results by
the day you can use MIN(day_of_the_week).
'''

query = '''
SELECT 
    CASE 
        WHEN day_of_week = '1' THEN 'Monday'
        WHEN day_of_week = '2' THEN 'Tuesday'
        WHEN day_of_week = '3' THEN 'Wednesday'
        WHEN day_of_week = '4' THEN 'Thursday'
        WHEN day_of_week = '5' THEN 'Friday'
        WHEN day_of_week = '6' THEN 'Saturday'
        WHEN day_of_week = '7' THEN 'Sunday'
        ELSE 'wrong data'
    END AS day_of_week,
    COUNT(*) AS rides_count
FROM df_taxi_data_full
GROUP BY day_of_week
ORDER BY rides_count DESC
'''
df_res = ps.sqldf(query, locals())
df_res

  day_of_week  rides_count
0      Friday        40289
1    Saturday        28927
2    Thursday        20568
3   Wednesday        19612
4      Monday        18566
5     Tuesday        18386
6      Sunday        15085